// retire complètement le style des listings
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

// remove <a> text decoration
a:link { text-decoration: none; opacity: 0.8; color: black;}
a:visited { text-decoration: none; opacity: 0.8; color: black;}
a:hover { text-decoration: none; color: red;}
a:active { text-decoration: none; color: #EDEADE;}

// remove default margin body
body {
    margin:0;
    padding:0;
}

// Media Query

$mobile: "screen and (max-width: 480px)";
$tablet: "screen and (min-width: 481px) and (max-width: 1000px)";
$medium-screen: "screen and (min-width: 1001px) and (max-width: 1279px)";